<html>
  <head>
    <title>Services</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h2>{{>header}}</h2>
    <h1 class="h1_class">{{title}}</h1>
    <h2>Name : {{name}}</h1>
    <h2>City : {{city}}</h1>
    <h2>Age : {{age}}</h1>
    <img src="{{img1}}" alt="aaaa">
    <h2>{{>footer}}</h2>
  </body>
</html>